{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<div class="container my-4">
    <h1 class="text-center mb-4">All Posts</h1>
    {% if user.is_authenticated %}
    <div class="navcent">
        <div class="text-right">
            <button class="btn btn-primary exndpls" id="toggleForm"><i class="fas fa-plus"></i></button>
        </div>
        <form id="postForm" action="{% url 'index' %}" class="mb-3" method="post" enctype="multipart/form-data" style="display: none;">
            {% csrf_token %}
            <div class="form-group">
                <label for="postContent">New Post:</label>
                <textarea class="form-control" id="postContent" name="body" rows="3" placeholder="Say Something, Anything..."></textarea>
            </div>

            <div class="d-flex justify-content-between align-items-center">
                <input type="file" class="form-control d-none" id="postPicture" name="picture">
                <label for="postPicture" class="btn btn-secondary attachment-btn"><i class="fas fa-paperclip"></i></label>
                <input class="btn btn-primary submitbtn" type="submit" value="Post">
            </div>
        </form>
    </div>
    {% endif %}
    {% for post in posts %}
    <div class="card mb-3" id="post-{{ post.id }}">
        {% if post.picture %}
            <img src="{{ post.picture.url }}" class="card-img-top" alt="Post Picture">
        {% endif %}
        <div class="card-header d-flex justify-content-between align-items-center bg-primary">
            <div class="d-flex align-items-center">
                {% if post.user.picture and post.user.picture.url %}
                    <img src="{{ post.user.picture.url }}" class="rounded-circle me-2 smlprofilep" alt="Profile Picture" width="30" height="30">
                {% else %}
                    <img src="{% static 'network/img/Default.png' %}" class="rounded-circle me-2 smlprofilep" alt="Profile Picture" width="30" height="30">
                {% endif %}
                <a href="{% url 'user' post.user.id %}" class="text-decoration-none userheader">{{ post.user }}</a>
            </div>
            {% if post.user.id == request.user.id %}
                <a href="#/" class="text-decoration-none edit-link" data-id="post-{{ post.id }}">Edit</a>
            {% endif %}
        </div>
        <div class="card-body">
            <p class="card-text">{{ post.body }}</p>
        </div>
        <div class="card-footer d-flex justify-content-between align-items-center bg-light">
            <p class="mb-0">{{ post.timestamp }}</p>
            <div class="d-flex align-items-center button-group">
                <a href="#/" class="text-decoration-none like-link me-1" data-id="post-{{ post.id }}">
                    <i class="fa fa-heart hearticon" aria-hidden="true"></i>
                    <span>{{ post.total_likes }}</span>
                </a>
                <a href="{% url 'comment' post.id %}" class="me-1 commenticon"><i class="fas fa-comment-dots"></i></a>
                {% if post.user.id == request.user.id %}
                    <form action="{% url 'post' post.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <input type="hidden" name="remove_post" value="remove_post" class="form-control">
                        <button type="submit" class="trash"><i class="fas fa-trash-can"></i></button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% empty %}
    <div class="text-center text-muted">No posts yet.</div>
{% endfor %}
</div>
{% endblock %}