{% extends "network/layout.html" %}
{% load static %}

{% block body %}

<div class="container">

  <div class="row justify-content-center mt-4">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body text-center">

          <div class="profilepicco">
            {% if user.picture and user.picture.url %}

            <img src="{{ user.picture.url }}" class="profile-picture rounded-circle mb-3" alt="Profile Picture">
            {% else %}

            <img src="{% static 'network/img/Default.png' %}" class="profile-picture rounded-circle mb-3" alt="Profile Picture">
            {% endif %}

          </div>
          
          <h3>{{ user.username }}</h3>

          <hr>
          
          <div class="container my-4">
            <div class="row">
              <div class="col-md-6 text-center">
                <div class="p-3 rounded">
                  <p class="h4">Followers</p>
                  <p class="display-4">{{ followers_count }}</p>
                </div>
              </div>
              <div class="col-md-6 text-center">
                <div class="p-3 rounded">
                  <p class="h4">Following</p>
                  <p class="display-4">{{ following_count }}</p>
                </div>
              </div>
            </div>
          </div>

          {% if requesting_user.is_authenticated %}

          <div class="card-body">
            {% if requesting_user != user %}

            {% if not is_following %}

            <form action="{% url 'user' user.id %}" method="post">
              {% csrf_token %}

              <input type="text" name="add_follow" value="add_follow" class="form-control" hidden>
              <input class="btn btn-primary" type="submit" value="Follow">
            </form>
              {% else %}

            <form action="{% url 'user' user.id %}" method="post">
              {% csrf_token %}

              <input type="text" name="remove_follow" value="remove_follow" class="form-control" hidden>
              <input class="btn btn-primary" type="submit" value="Unfollow">
            </form>
            {% endif %}

            {% else %}

            <a href="{% url 'edit_profile' user.id %}" class="btn btn-secondary">Edit Profile</a>
            {% endif %}

          </div>

          {% endif %}

        </div>

      </div>
    </div>
  </div>
</div>

<div class="container mt-4">

  <div class="row">
    <div class="col-md-8 offset-md-2">
      {% for post in posts %}

      <div class="card mb-3" id="post-{{ post.id }}">
          {% if post.picture %}

              <img src="{{ post.picture.url }}" class="card-img-top" alt="Post Picture">
          {% endif %}

          <div class="card-header d-flex justify-content-between align-items-center bg-primary">
              <div class="d-flex align-items-center">
                  {% if post.user.picture and post.user.picture.url %}

                      <img src="{{ post.user.picture.url }}" class="rounded-circle me-2 smlprofilep" alt="Profile Picture" width="30" height="30">
                  {% else %}

                      <img src="{% static 'network/img/Default.png' %}" class="rounded-circle me-2 smlprofilep" alt="Profile Picture" width="30" height="30">
                  {% endif %}

                  <a href="{% url 'user' post.user.id %}" class="text-decoration-none userheader">{{ post.user }}</a>
              </div>
              {% if post.user.id == request.user.id %}

                  <a href="#/" class="text-decoration-none text-white edit-link" data-id="post-{{ post.id }}">Edit</a>
              {% endif %}

          </div>
          <div class="card-body">
              <p class="card-text">{{ post.body }}</p>
          </div>
          <div class="card-footer d-flex justify-content-between align-items-center bg-light">
              <p class="mb-0">{{ post.timestamp }}</p>
              <div class="d-flex align-items-center button-group">
                  <a href="#/" class="text-decoration-none like-link me-1" data-id="post-{{ post.id }}">
                      <i class="fa fa-heart hearticon" aria-hidden="true"></i>
                      <span>{{ post.total_likes }}</span>
                  </a>
                  <a href="{% url 'comment' post.id %}" class="me-1 commenticon"><i class="fas fa-comment-dots"></i></a>
                  {% if post.user.id == request.user.id %}

                      <form action="{% url 'post' post.id %}" method="post" class="d-inline">
                          {% csrf_token %}

                          <input type="hidden" name="remove_post" value="remove_post" class="form-control">
                          <button type="submit" class="trash"><i class="fas fa-trash-can"></i></button>
                      </form>
                  {% endif %}

              </div>
          </div>
      </div>
  {% empty %}

      <div class="text-center text-muted">No posts yet.</div>
  {% endfor %}

    </div>
  </div>
</div>

{% if paginator.num_pages > 1 %}

<div class="container">
  <div class="row justify-content-center">
    <nav aria-label="Search results pages" class="align-self-center">
      <ul class="pagination">
        {% if posts.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ posts.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="?page=#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% endif %}
        
        {% for page_num in paginator.page_range %}
        <li class="page-item {% if page_num == posts.number %}active{% endif %}"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
        {% endfor %}
        
        {% if posts.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ posts.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="?page=#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</div>


{% endif %}
{% endblock body %}